extends layout 

block content 
  div.home-section
    h1 Delete #{category.name}

    if category_items.length

      p #[strong Delete the following items before attempting to delete this category.]

      h3 Items 
        ul
          each item in category_items
            li
              a(href=`${item.url}`) #{item.name}
    else
      form(action=`/home/category/${category._id}/delete`, method='POST')
        div.form-div
          label(for='name') Password:
          input(type='text', name='password', id='password', placeholder="Admin Password")
        button(type='submit') Delete
  
    if errors
        ul
          for error in errors
            li!= error.msg