extends layout 

block content 
  div.home-section
    h1= title 
<<<<<<< HEAD
    form(action=`/home/${model}/${item._id}/update/password`, method='POST')
=======
    form(action=`/home/item/${item._id}/update/password`, method='POST')
>>>>>>> origin/main
      div.form-div
        label(for='password') Password:
        input(type='text', name='password', id='password', placeholder="Admin Password")
      button(type='submit') Submit
  
    if errors
        ul
          for error in errors
            li!= error.msg